/* NOTIFICATIONS */
.notifications {
	@apply fixed right-0 px-1 transition-shadow duration-500 pointer-events-none;
	/* pointer-events makes sure that click events go through to underlying elements */
	z-index: 51; /* make sure notifications are above modals, while modals are over anything else */

	bottom: 8px;
	left: 6px;
	width: 400px;

	.notification-item {
		@apply w-full p-2 mt-4 text-base leading-snug transition-all border-r-4 rounded shadow-lg cursor-pointer opacity-80 select-none duration-200;
		pointer-events: all;

		.n-title {
			@apply font-bold;
		}

		.n-remove {
			@apply float-right mr-2 outline-none;
		}

		.n-text {
			@apply overflow-y-auto text-sm;
		}

		.n-icon {
			@apply w-1/6 h-6 -ml-3;
		}

		&.is-danger {
			@apply bg-red-200 border-red-600;

			.n-icon {
				@apply text-red-600;
			}
		}

		&.is-warning {
			@apply bg-yellow-200 border-yellow-700;

			.n-icon {
				@apply text-yellow-700;
			}
		}

		&.is-info {
			@apply border-blue-400 bg-blue-200;

			.n-icon {
				@apply text-black;
			}
		}

		&.is-success {
			@apply bg-green-300 border-green-900;

			.n-icon {
				@apply text-green-900;
			}
		}
	}

	.notification-item:first-child {
		@apply mt-0 opacity-100;
	}
	.notification-item:hover {
		@apply shadow-md opacity-100;
	}
}